/*Navigation*/
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size:1rem;
    padding:3px 7px;
}
/*Home Section*/
#home{
height:370px;
padding: 13px 65px;

}
#home p{
 
    position: absolute;
    top: 281px;
    font-size:1rem;
}
#home h1{
    
    font-size: 26px;

  
    position: absolute;
    top: 140px;
}
#home::before{
    height:600px;
   
    }
#home .btn{
    position: absolute;
    top: 401px;
    padding: 3px 15px;
}

/*Services Section*/
#services{
flex-direction: column;
}

#services .box{
padding:0px;
margin:0px 0px;
}
#services .box img {
   
    height: 122px;
    padding-top: 10px;
    border-radius: 30px;
}
/*Client Section*/
#clients{
    flex-wrap: wrap;
    padding:0px;
}
#clients img{
    width: 52px;
    height: 37px;
    padding:12px;
}
.client-item{
    padding:12px;
}

/*Contact Us*/

/*Footer*/